.myButton{
    background:url(./image/back-arrow.png) no-repeat;
    cursor:pointer;
    border:none;
    width:100px;
    height:100px;
}

.myButton: active  /* use Dot here */
{   
    background:url(./image/back-arrow.png) no-repeat;
}