.myButton{
    background:url(./image/back-arrow.png) no-repeat;
    cursor:pointer;
    border:none;
    width:10%;
    height:10%;
}

.myButton:active  /* use Dot here */
{   
    background:url(./image/back-arrow.png) no-repeat;
}